@font-face {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

.navbar{
 padding: 0 !important;
 z-index: 100;
 position: absolute !important;
 background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase ;
    color: white !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00AEEF !important;
}


.dropdown-menu {
    position: relative;
    display: inline-block;

}
.nav-item-dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item-dropdown {
    padding: 15px 0;
}

.nav-item{
    padding: 15px 0;
}

.dropdown-item {
    border-color: #e6e6e6 !important;
    background-color: rgba(255,255,255,0.95);
    text-transform: uppercase;
    display: block;
    position: relative;
    background-color: #f5f5f5;
    z-index: 1;
    min-width: 250px;
}

#dropdown-digital{
    border-top: 1px #e6e6e6 solid !important;
    border-bottom: 1px #e6e6e6 solid !important;

}
.dropdown-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: left;
    color: #2e3e49;
    font-weight: bold;
}
.dropdown-item:hover a {
    text-decoration: none;
    color: #00AEEF !important;

}


.header>.bx-wrapper {
    border: none !important;
    position: relative;
    margin: 0 !important;
}
.header>.bx-wrapper img{
    width: 100%;
    height: 100vh;
}

.header>.bx-wrapper .bx-pager {
    margin-bottom: 50px;
}
.header>.bx-wrapper .bx-viewport{
    height: auto !important;
}

/*Slider*/

.bx-wrapper .bx-pager.bx-default-pager a{
    border: 2px solid white;
    background: rgba(255, 255, 255, 0) !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 10px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover{
    background-color: white !important;
}


a.bx-pager-link:hover {

}
.slide-img{
    position: absolute;
    bottom: 8%;
    width: 100px;
    height: 60px;
    z-index: 9999;
    display: none;

}

.slide-img img {

    height: 100% !important;
    width: 100%;
}

.bx-pager-item{
    position: relative;
}

.bx-pager.bx-default-pager a:hover .slider-img{
    display: block;
}


/*Story*/

.story {
    padding: 55px 0;
}
.story-head h2{
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-transform: inherit;
    text-align: center;
}

.story-head h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-transform: inherit;
    text-align: center;
    margin-bottom: 40px;
}

.story-list {
    display: flex;
}

.item {
    margin: 0 15px;
    position: relative;
    height: 400px;
    width: 270px;
    overflow: hidden;
}
.item img {
    height: 100%;
    width: 100%;
}
.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 55%,rgba(0,0,0,.8) 100%);
}
.item-overlay1 {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.item:hover .item-overlay {
    transform: translateX(-100%);
    transition: all 0.4s;
}
.item:hover .item-overlay1 {
    left: 0;
    transition: all 0.4s;
}
.item-overlay {
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.item-overlay1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    padding-bottom: 10px;
    color: #7f7f7f;
}

.icon i:hover{
    cursor: pointer;
    color: #00AEEF;
}

.item-overlay1 h3:hover{
    cursor: pointer;
    color: #00AEEF;
}

.item-overlay1 p:hover{
    cursor: pointer;
    color: #00AEEF;
}



/*Service*/

.services{
 background-image: url("../images/services.jpg");
}

.services-head {
    color: white;
    padding: 55px 0 0;
    text-align: center;
}

.services-head h2{
    ont-size: 24px;
    line-height: 32px;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-transform: inherit;
    text-align: center;
}

.services-head h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-transform: inherit;
    text-align: center;
}
.services-list{
    padding: 40px 0 55px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

.services-item{
 background-color: white;
    padding: 0 30px 30px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.15);

}
.services-item:hover {
    z-index: 5;
    transform: translateY(-10px);
    transition: 0.3s;
}

.services-item a {
    color: #00AEEF;
    text-decoration: none;
}
.services-item a:hover {
    color: #0076a3;
    text-decoration: none;
}

.services-item img{
    align-items: center;
    width: 150px;
    height: 150px;
}

.services-icon {
    font-size: 60px;
    min-width: 80px;
    padding: 80px 0 70px;
}

.services-icon h3 {
    font-size: 20px !important;
    line-height: 28px !important;
}


.services-content h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.services-content p {
    margin: 0 0 10px 0;
}

.services-content a{
    color: #00AEEF;
}
/*Client*/

.client-head{
    padding: 35px 15px 0;
    height: auto;
}

.client-logo>.bx-wrapper {
    height: fit-content;
}

.client-btn{
    position: relative;

}

.slick-prev:before {
    border-radius: 3px;
    border: 1px solid #00AEEF;
    content: 'Preview' !important;
    color: red !important;
    right: 0;
}
.client-logo{
    position: relative;
}
.slick-next:before {
    border-radius: 3px;
    border: 1px solid #00AEEF;
    content: 'Next' !important;
    color: red !important;
}

.slick-next:before:hover{
    color: white;
    background-color: #00AEEF !important;
}


.slick-dots li button:before {
    color: gray;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px !important;
    height: 15px !important;
    content: '' !important;
    text-align: center;
    opacity: 1;
    color: #000;
    background-color: #2e3e49;
    border-radius: 50%;
}
/*Footer*/

.footer{
    background-color: #181818;
    padding: 100px 0 70px;
    color: white;
}

.footer a{
    text-transform: none;
    color: white;
}

.footer-bottom{
    padding: 30px 0 25px;
    background-color: #000000;
    border-top: 1px solid #00243f;
}

.menu{
    list-style: none;
    columns: 2;
    padding: 0;
}

.fa-caret-right{
    padding-right: 10px;
}

.sub-menu{
    padding-left: 20px;
}

.sub-menu-item{
    list-style: none
}
.footer-col{
    color: #ffffff;
}

.menu-item a{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 10px 0;
}

.menu-item a:hover{
    text-decoration: none;
    color: #00AEEF;
}

.widget-title{
    font-size: 18px;
    line-height: 24px;
}

.list-unstyled i {
    padding-right: 5px;
}

.list-unstyled a{
    text-decoration: none;
}

.list-unstyled a:hover{
    color: #00AEEF;
    text-decoration: none;

}

.footer-col {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: none;
}







.carousel-block{
    z-index: 2;
    padding: 35px 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
}

.carousel-items{
    max-width: 300px;
   align-items: center;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.carousel-items img{
    text-align: center;
    margin: auto;
    width: 150px !important;
}



#customer{
    padding: 55px 0;
}

.customer-head h2{
    width: 100%;
}

.customer-head{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 15px;

}

.customPrevBtn {
    width: fit-content;
    height: fit-content;
    border: 1px solid #00AEEF;
    border-radius: 5px;
    color: #00AEEF;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    margin-right: 5px;
    padding: 4px 8px;
}

.customNextBtn {
    width: fit-content;
    height: fit-content;
    border: 1px solid #00AEEF;
    border-radius: 5px;
    color: #00AEEF;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    margin: 0;
    padding: 4px 8px;
}
.custom-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.slider-item{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider-item img{
    width: 100%;
    height: 100%;
}

.slider__title{

    position: absolute;
    bottom: 10%;
    z-index: 6;
    background-color: rgb(247, 148, 29);
    font-family: Cabin;
    cursor: pointer;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 15px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: fit-content;
    height: auto;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00AEEF;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    opacity: 0.8;
}

#myBtn:hover {
    background-color: #555;
}



@media (max-width: 768px) {
    .navbar{
        width: 100%;
        background-color: #00AEEF!important;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 60px;
        flex-direction: row-reverse;
    }
    .nav-item{
        padding-left: 20px;
    }

    .nav-item-dropdown{
        padding-left: 20px;
    }

    .nav-link a{
        padding-right: 10px;
        color: #004274 !important;
    }

.header .navbar img{
    max-height: 24px;
    padding-right: 400px;
}
    .navbar-toggler {
        padding-right: 500px;
    }

.footer-widget{
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: none;
}

.footer .container {
    padding: 0;
}
}

